body {
    font: 62.5%;
}

input,
button,
label,
p {
    font-family: $bodyFont;
    font-size: 1.2rem;

}

footer p {
    color: $white;
    font-size: 0.8rem;
}

h1 {
    font-family: $titleFont;
    font-size: 3.6rem;
    color: $white;
    background: $black;
}

input {
    color: $secondaryColor;
}

.icon {
    font-size: 1.5rem;
    color: $primaryAccent;
}

