@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$titleFont: 'Permanent Marker', cursive;
$bodyFont: 'Open Sans', sans-serif;

$black: #1a181b;
$white: #eaeaea;

$primaryAccent: #56e39f;
$secondaryAccent: #59c9a5;

$primaryColor: #3b2c35;
$secondaryColor: #ffd6ff;

