body {
    height: 100vh;
    min-height: 48rem;
    padding: 2% 0;
    background-color: $primaryColor;
}

div {
    height: 100%;
}

.wrapper {
    min-height: 45rem;
    display: flex;
    flex-direction: column;
    background-color: $secondaryAccent;
    padding-bottom: 10%;
    position: relative;
}

h1 {
    padding: 2.5% 0;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    min-height: 15rem;
    justify-content: space-evenly;
    
    button {
        padding: 1% 7.5%;
    }
}

input {
    padding: 1.5% 8%;
    background: $black;
    border-radius: .5rem;
    border: outset 2px $secondaryAccent;
}

::selection {
    background-color: $secondaryColor;
    color: $black;
}

input, 
textarea {
    caret-color: $primaryAccent;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;

}

li {
    position: relative;
}

.icons {
    position: absolute;
    top: 20%;
    left: 15%;
    bottom: 80%;
    display: flex;
    flex-direction: column;
    filter: opacity(0.7);
    height: unset;
    &:focus-within,
    &:hover {
        filter: opacity(0.8)
    }
}

.trending .icons a,
.search .icons a {
    height: unset;
    text-align: left;
}

.icon {
    margin: 5%;
}


.trending {

    .featuredGifsContainer {
        min-height: 16rem;
        width: 100%;
        background-color: $black;
        max-height: 300px;
        overflow: hidden;
    }

    ul {
        height: 100%;
        display: flex;
        animation: gallerySlide 275s infinite linear;
        &:hover {
            animation-play-state: paused;
        }
    }


    li {
        min-height: 100%;
        transform: translate3d(0, 0, 0  );
    }

    @keyframes gallerySlide {
        0% {transform: translateX(0);}
        100% {transform: translateX(-9250px)}
    }

    li a {
        display: flex;
        height: 100%;
    }

    img {
        object-fit: cover;
        margin: 1rem;
        height: 88%;
    }
}