.icons {
    .icon {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

.icons button,
button.header {
    background: none;
    width: none;
    border: none;
    text-align: center;
    cursor: pointer;
}

.modal {
    button {
        color: $black;
    }
}